.skill {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   margin: 10px auto;
   background-color: orange;
   text-align: center;
   padding: 20px;
}

.icon {
   width: 60px;
   height: 60px;
   background-color: gray;
}

.description {

}