.skillsBlock {
   min-height: 100vh;
   background-color: lightblue;
}

.skillsContainer {
   flex-direction: column;
   justify-content: flex-start;
}

.title {
   background-color: lavender;
}

.skills {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   border: 1px solid blue;
   width: 100%;
}


