.mainBlock {
    height: 100vh;
    background-color: lavender;
}

.text {
    width: 300px;
    background-color: #b8f3b8;
    text-align: center;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #b8f3b8;
}